:root {
    --fi: 'Raleway', sans-serif;
    --fii: 'Open Sans', sans-serif;
    --fiii: 'Lato', sans-serif;
    --ci: #fec600;
}

* {
    margin: 0;
    padding: 0;
}

.mr {
    margin-right: 30px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    text-transform: capitalize;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

.full-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    /* overflow: hidden; */
}


/* common style  */

.mnu {
    /* background: rgb(82, 82, 82); */
    border-bottom: 1px solid #58491f;
    /* display: flex; */
    position: absolute;
    z-index: 4;
}

.mnu .wrapper .tbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mnu .wrapper .tbar .menu ul {
    display: flex;
    flex-flow: row nowrap;
}

.mnu .wrapper .tbar .menu ul li {
    margin-left: 30px;
    padding-top: 47px;
    padding-bottom: 44px;
    font-family: var(--fi);
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    position: absolute;
    bottom: -2px;
}

.mnu .wrapper .tbar .menu ul li:first-of-type {
    margin-left: 0px;
}

.mnu .wrapper .tbar .menu ul li a {
    color: #fff;
    box-sizing: border-box;
    transition: all linear 0.4s;
    padding: 30px 0 30px;
}

.mnu .wrapper .tbar .menu ul li {
    position: relative;
    transition: all ease-in-out 0.7s;
}

.mb {
    border-bottom: 3px solid var(--ci);
    box-sizing: border-box;
    position: absolute;
}

.mnu .wrapper .tbar .menu ul li:hover a {
    color: var(--ci);
}

.mnu .wrapper .tbar .menu ul li:hover {
    border-bottom: 3px solid #fac800ce;
}

.mnu-fix {
    border-bottom: 1px solid rgb(88, 73, 31);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 5;
    background: rgba(31, 31, 31, 0.959);
    animation: smooth .6s ease-in-out;
}

.mnu-fix .wrapper .tbar .menu ul {
    height: 35px;
}

.mnu-fix .wrapper .tbar .menu ul li {
    padding-top: 9px;
    padding-bottom: 35px;
}

.mnu .wrapper .tbar .menu ul li a:active li {
    border-bottom: 3px solid var(--ci);
    box-sizing: border-box;
}

@keyframes smooth {
    0% {
        top: -150px;
    }
    100% {
        top: 0px;
    }
}

.top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 60px;
    background: rgba(172, 204, 28, 0.795);
    cursor: pointer;
    z-index: 5;
    display: none;
}

.top i {
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

.pi .slider {
    height: 695px;
    width: 100%;
    position: absolute;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
}

.pi .slider::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.pi .cont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 3;
}

.pi .cont .li {
    padding-top: 245px;
    font-family: var(--fi);
    font-weight: 400;
    font-size: 36px;
}

.pi .cont .lii {
    font-family: var(--fi);
    font-weight: 700;
    font-size: 55px;
    text-transform: uppercase;
    color: var(--ci);
}

.pi .cont .pr {
    width: 540px;
    font-family: var(--fii);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    padding-top: 9px;
}

.pi .cont .btn {
    padding-top: 72px;
    padding-bottom: 190px;
}

.pi .cont .btn a {
    margin: 0 9px;
    font-family: var(--fi);
    font-weight: 500;
    font-size: 16px;
    transition: all linear 0.3s;
}

.pi .cont .btn .i {
    padding: 21px 22px 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
    color: #ffffff;
}

.pi .cont .btn .ii {
    padding: 21px 35px 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
    color: #ffffff;
}

.pi .cont .btn a:hover {
    background: var(--ci);
    color: #111111;
    border-color: var(--ci);
}

.head {
    padding-top: 27px;
    font-family: var(--fi);
    font-weight: 400;
    font-size: 35px;
    text-transform: capitalize;
}

.pr {
    width: 570px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    line-height: 24px;
}

.pii .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.pii .wrapper .border {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: 1px solid #444444;
    margin-top: 305px;
    margin-bottom: 290px;
    position: relative;
}

.pii .wrapper .border img {
    margin: 25px;
}

.pii .wrapper .border .b .c {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #444444;
    position: absolute;
    transition: all linear 0.5s;
}

.pii .wrapper .border .b .i {
    top: 243px;
    left: 185px;
    transform: translate(-50%, -50%);
}

.pii .wrapper .border .b .ii {
    top: 105px;
    right: 400px;
    transform: translate(50%, -50%);
}

.pii .wrapper .border .b .iii {
    bottom: 243px;
    right: 185px;
    transform: translate(50%, 50%);
}

.pii .wrapper .border .b .iv {
    top: 105px;
    left: 400px;
    transform: translate(-50%, -50%);
}

.pii .wrapper .border .b {
    padding: 36px 32px 39px;
    background: #eeeeee;
    transition: all linear 0.7s;
}

.pii .wrapper .border .ht {
    font-family: var(--fi);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.pii .wrapper .border .bt {
    width: 305px;
    font-family: var(--fii);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.pii .wrapper .border .b .arr {
    background-color: #eeeeee;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
}

.pii .wrapper .border .one {
    text-align: center;
    position: absolute;
    top: -32px;
    left: 185px;
    transform: translate(-50%, -100%);
}

.pii .wrapper .border .one .arr {
    bottom: 0;
    left: 185px;
    transform: translate(-50%, 50%) rotate(45deg);
}

.pii .wrapper .border .two {
    text-align: left;
    position: absolute;
    top: 185px;
    right: -32px;
    transform: translate(100%, -50%);
}

.pii .wrapper .border .two .arr {
    left: 0;
    bottom: 105px;
    transform: translate(-50%, 50%) rotate(45deg);
}

.pii .wrapper .border .three {
    text-align: center;
    position: absolute;
    right: 185px;
    bottom: -32px;
    transform: translate(50%, 100%);
}

.pii .wrapper .border .three .arr {
    left: 185px;
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.pii .wrapper .border .four {
    text-align: right;
    position: absolute;
    bottom: 185px;
    left: -32px;
    transform: translate(-100%, 50%);
}

.pii .wrapper .border .four .arr {
    right: 0;
    top: 105px;
    transform: translate(50%, -50%) rotate(45deg);
}

.pii .wrapper .border .b:hover {
    filter: drop-shadow(-1px 3px 4px rgba(148, 148, 148, 0.678));
}

.pii .wrapper .border .b:hover .c {
    background: var(--ci);
}

.piii {
    background: url(../Images/portfolio-bg.jpg) no-repeat center / cover;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    background-attachment: fixed;
    position: relative;
}

.piii::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111cc;
    z-index: -1;
}

.piii .wrapper .head {
    padding-top: 142px;
    color: #fff;
}

.piii .wrapper .pr {
    padding-top: 24px;
    color: #fff;
}

.piii .wrapper .items {
    width: 100%;
    margin-top: 57px;
    margin-bottom: 152px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.piii .wrapper .items .cl {
    margin-right: 15px;
    margin-left: 15px;
}

.piii .wrapper .items .i {
    margin-bottom: 30px;
}

.piii .wrapper .items .cl .ci {
    position: relative;
}

.piii .wrapper .items .over {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.644);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
    overflow: hidden;
}

.piii .wrapper .items .over i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #444444;
    background: #fff;
    font-size: 28px;
    box-sizing: border-box;
    padding: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.piii .wrapper .items .cl .ci:hover .over i {
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 11px;
}

.piii .wrapper .items .cl .ci:hover .over {
    opacity: 1;
    visibility: visible;
    top: 0;
}

.piv .wrapper .pr {
    margin-top: 4px;
}

.piv .wrapper .cnt {
    margin: 50px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.piv .wrapper .cnt i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #111111ad;
    border: 1px solid #000;
    font-size: 20px;
    box-sizing: border-box;
    padding: 9px 10px;
    transition: all linear 0.5s;
    position: relative;
    cursor: pointer;
    transition: all ease 0.6s;
}

.piv .wrapper .cnt i:hover {
    color: #111111;
}

.slick-prev::after {
    content: '';
    width: 1px;
    height: 845px;
    box-sizing: border-box;
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-51%);
    border-right: 1px dashed rgba(37, 37, 37, 0.836);
}

.piv .wrapper .cnt i:hover {
    border-color: transparent;
    outline: none;
    background-color: var(--ci);
}

.box {
    width: 100%;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bii {
    justify-content: flex-start;
}

.bii .bpr::before {
    top: 102px;
    left: 459px;
    transform: rotate(45deg);
}

.bii .bpr .des {
    text-align: right;
}

.ttl {
    text-transform: uppercase;
    font-family: var(--fi);
    font-weight: 500;
    font-size: 18px;
    color: #111111;
    transition: all ease-in-out 0.8s;
}

.bpr {
    width: 470px;
    background: #eeeeee;
    position: relative;
    transition: all linear 0.5s;
}

.des {
    font-family: var(--fii);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 50px 31px 51px 30px;
    color: #444444;
}

.bpr::before {
    content: '';
    position: absolute;
    top: 102px;
    left: -12px;
    transform: rotate(45deg);
    width: 22px;
    height: 22px;
    border-radius: 2px;
    background: #eeeeee;
    z-index: 2;
}

.mid {
    width: 70px;
    height: 70px;
    margin: 0 80px;
    background: #eeeeee;
    box-sizing: border-box;
    border-radius: 50%;
    transition: all linear 0.5s;
}

.mid img {
    width: 47px;
    padding: 17px 12px;
    transition: all linear 0.5s;
}

.box:hover .ttl {
    font-weight: 600;
}

.box:hover .bpr {
    filter: drop-shadow(-1px 3px 4px rgba(148, 148, 148, 0.678));
}

.box:hover .mid {
    width: 100px;
    height: 100px;
    margin: 0 65px;
    background: var(--ci);
}

.box:hover .mid img {
    width: 60px;
    padding: 27px 21px;
}

img.icii {
    width: 40px;
    padding: 12px 14px;
}

.box:hover img.icii {
    padding: 15px 19px;
}

img.iciii {
    width: 38px;
    padding: 17px 16px;
}

.box:hover img.iciii {
    width: 48px;
    padding: 27px 26px;
}

.pv {
    background: url(../Images/backbanner.jpg) no-repeat center / cover;
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
    background-attachment: fixed;
    position: relative;
}

.pv::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #111111be;
    z-index: -2;
}

.pv .wrapper {
    margin: 153px 0 148px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.pv .wrapper .ti {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100px;
    margin-left: 33px;
}

.pv .wrapper .ti i {
    width: 40px;
    height: 40px;
    color: #e0e0e0da;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    padding: 12px 12px;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    transition: all linear 0.5s;
}

.pv .wrapper .ti .up {
    position: relative;
}

.pv .wrapper .ti .up::after {
    content: '';
    position: absolute;
    top: 42px;
    left: 47%;
    box-sizing: border-box;
    width: 1px;
    height: 540px;
    transform: translateX(51%);
    border-right: 1px dashed rgb(236, 236, 236);
}

.pv .wrapper .ti i:hover {
    color: #252525;
    border-color: transparent;
    background: #ffd94fe1;
    outline: none;
}

.pv .wrapper .ti .team {
    width: 100px;
    height: 100px;
    background: rgb(197, 197, 197);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin: 30px 0;
    transition: all linear 0.6s;
}

.pv .wrapper .ti .team img {
    width: 88px;
    padding: 14px 6px;
    transition: all ease-in-out 0.6s;
}

.pv .wrapper .ti .team::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(211, 211, 211, 0.651);
    transition: all linear 0.6s;
    opacity: 1;
    visibility: visible;
}

.pv .wrapper .ti .slick-center {
    transition: all ease-in-out 0.4s;
}

.slick-center .team::before {
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.4s;
}

.slick-center img {
    background: #ffd12d;
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
}

.pv .wrapper .tii {
    width: 848px;
    margin-left: 82px;
}

.pv .wrapper .tii .di {
    width: 833;
    margin-left: 14px;
    background: #f1f1f1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0 30px 50px 33px;
    position: relative;
}

.pv .wrapper .tii .di::before {
    content: '';
    width: 28px;
    height: 28px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: -9px;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 4px;
    z-index: -1;
}

.pv .wrapper .tii .di .name {
    font-family: var(--fi);
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 55px;
}

.pv .wrapper .tii .di .rate {
    margin-top: -3px;
}

.pv .wrapper .tii .di .rate i {
    color: var(--ci);
    font-size: 16px;
    font-weight: 400;
}

.pv .wrapper .tii .di .title {
    font-family: var(--fi);
    font-weight: 400;
    font-size: 16px;
    margin-top: 4px;
}

.pv .wrapper .tii .di .details {
    font-family: var(--fii);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 16px;
    width: 771px;
}

.pv .wrapper .tii .di .signature {
    font-weight: 400;
    font-size: 20px;
    align-self: end;
    padding-top: 20px;
    margin-right: 75px;
}